

#board {
    position: relative;
    width: 1024px;
    height: 863px;
    margin: auto;
    background: url('../img/board.jpg') center center no-repeat;

    & form {
        position: absolute;
        right: 0;
        bottom:0;
        padding: 15px;
        background: rgba(83, 175, 19, .3);

        & input {
            background-color: rgb(152, 207, 113);
            border-color: rgb(83, 175, 19);
            font-size: 1em;
            font-weight: bold;
        }

        & input:nth-child(2) {
            background: rgb(83, 175, 19);
            border: none;
            width: 50px;
            height: 21px;
            outline: none;
            font-size: .8rem;
            font-weight: 400;
            color: rgb(73, 7, 7);


        }
    }
}

/* .row{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    &>div{
        width: 94px;
        height: 94px;
        margin-left: 2.2px;
        margin-top: 2.4px;
    }
} */

table {
    position: absolute;
    left: 173px;
    top: 98px;
    border-spacing: 2px;
}

td {
    width: 94px;
    height: 94px;
}

.messagearia {
    position: absolute;
    top: 0px;
    left: 0px;
    color: rgb(253, 1, 35);
    //transform: rotate(-20deg);
    animation: pulse 1s infinite;
    }

.hit {
    background: url("../img/ship.png") center center no-repeat;

}

.miss {
    background: url("../img/miss.png") center center no-repeat;
}

@keyframes pulse{
    0%{
        transform: scale(1);
    }
    100%{
        transform: scale(2);
        font-weight: bold;
    }
}